@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
$fontfamily: '_Lato_';
$minwidth: 320px;
@import 'null.scss';

.wrapper {
  overflow: hidden;
  min-height: 100%;
}
.container {
  max-width: 1130px; //margin 0 15
  padding: 0px 15px;
}
